<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>聊天室-登录</title>
    <link type="text/css" rel="stylesheet" href="assets/common.css">
    <link type="text/css" rel="stylesheet" href="assets/sign.css">
    <link rel="icon" href="favicon.ico">
</head>

<body>
<div class="login-block">
    <form action="/signin" method="post" class="login-form">
        <div class="form_line">
            <div class="form_label">登录名：</div>
            <input type="text" name="username" class="text"/>
        </div>
        <div class="form_line">
            <div class="form_label">密码：</div>
            <input type="password" name="username" class="text"/>
        </div>
        <div class="form_action">
            <div class="form_label"></div>
            <input class="btn btn-default" type="reset" value="取消">
            <input class="btn btn-success" type="submit" value="登录">
        </div>
        <!--<div class="form_line">-->
        <!--<div class="form_label"></div>-->
        <!--还没有账号？-->
        <!--<a href="/signup">注册</a>-->
        <!--</div>-->
    </form>
</div>
</body>
</html>
